In [19]:
import datetime as dt
from bs4 import BeautifulSoup
import requests
import re
import time
import random
import pandas as pd
import os
import numpy as np

In [20]:
master_df = pd.read_csv('week_7.csv')
hist = pd.read_csv('pos_sal_avg.csv')
master_df = master_df.merge(hist, left_on=['Pos','Salary'], right_on=['Pos','DK salary'])

In [21]:
master_df.head(15)

,Pos,Name,Salary,TeamAbbrev,AvgPointsPerGame,Projected Points,DK salary,DK points
0,WR,DeAndre Hopkins,8200,ARI,21.35,21.3,8200.0,22.663636
1,QB,Russell Wilson,8000,SEA,31.88,23.8,8000.0,25.253333
2,RB,Alvin Kamara,7900,NO,30.12,23.6,7900.0,22.792308
3,WR,Davante Adams,7900,GB,21.10,21.6,7900.0,18.078261
4,RB,Ezekiel Elliott,7800,DAL,21.28,19.6,7800.0,20.421053
5,QB,Josh Allen,7700,BUF,27.79,22.2,7700.0,30.280000
6,WR,Michael Thomas,7600,NO,4.70,16.9,7600.0,15.870909
7,RB,Derrick Henry,7500,TEN,24.04,18.5,7500.0,19.100000
8,QB,Patrick Mahomes,7400,KC,28.08,22.0,7400.0,22.791429
9,WR,Calvin Ridley,7300,ATL,22.17,18.3,7300.0,17.802778
10,RB,Aaron Jones,7200,GB,23.60,20.9,7200.0,16.247826
11,WR,DK Metcalf,7200,SEA,21.32,17.7,7200.0,17.980000
12,WR,Julio Jones,7100,ATL,19.00,18.0,7100.0,15.068571
13,QB,Kyler Murray,7100,ARI,28.08,23.1,7100.0,24.914667
14,WR,Stefon Diggs,7000,BUF,20.75,18.6,7000.0,15.404651

In [22]:
master_df['val_above_sal'] = master_df['Projected Points'] - master_df['DK points']

In [23]:
master_df['Points Per Dollar'] = master_df['Projected Points'] / \
    master_df['Salary']
master_df['Points Per 1K'] = master_df['Projected Points'] / 1000
master_df['Value'] = master_df['Projected Points'] / \
    (master_df['Salary']/1000)

In [24]:
master_df

,Pos,Name,Salary,TeamAbbrev,AvgPointsPerGame,Projected Points,DK salary,DK points,val_above_sal,Points Per Dollar,Points Per 1K,Value
0,WR,DeAndre Hopkins,8200,ARI,21.35,21.3,8200.0,22.663636,-1.363636,0.002598,0.0213,2.597561
1,QB,Russell Wilson,8000,SEA,31.88,23.8,8000.0,25.253333,-1.453333,0.002975,0.0238,2.975000
2,RB,Alvin Kamara,7900,NO,30.12,23.6,7900.0,22.792308,0.807692,0.002987,0.0236,2.987342
3,WR,Davante Adams,7900,GB,21.10,21.6,7900.0,18.078261,3.521739,0.002734,0.0216,2.734177
4,RB,Ezekiel Elliott,7800,DAL,21.28,19.6,7800.0,20.421053,-0.821053,0.002513,0.0196,2.512821
...,...,...,...,...,...,...,...,...,...,...,...,...
398,DST,Raiders,2400,LV,1.80,5.0,2400.0,6.831683,-1.831683,0.002083,0.0050,2.083333
399,DST,Cardinals,2300,ARI,7.00,6.4,2300.0,5.700935,0.699065,0.002783,0.0064,2.782609
400,DST,Lions,2200,DET,2.20,5.7,2200.0,5.894737,-0.194737,0.002591,0.0057,2.590909
401,DST,Texans,2200,HOU,3.33,4.8,2200.0,5.894737,-1.094737,0.002182,0.0048,2.181818
402,DST,Jets,2000,NYJ,4.50,6.0,2000.0,4.740741,1.259259,0.003000,0.0060,3.000000

In [25]:
good_choices = master_df[(master_df['val_above_sal']>0) & (master_df['Projected Points']>11)]

In [26]:
good_choices.sort_values(by=['Pos','val_above_sal'], ascending=False)

,Pos,Name,Salary,TeamAbbrev,AvgPointsPerGame,Projected Points,DK salary,DK points,val_above_sal,Points Per Dollar,Points Per 1K,Value
42,WR,Keenan Allen,6200,LAC,16.72,17.7,6200.0,11.572075,6.127925,0.002855,0.0177,2.854839
63,WR,Tyler Boyd,5400,CIN,15.08,15.8,5400.0,10.844776,4.955224,0.002926,0.0158,2.925926
54,WR,Terry McLaurin,5800,WAS,16.17,16.9,5800.0,12.025373,4.874627,0.002914,0.0169,2.913793
56,WR,DJ Moore,5600,CAR,13.90,14.8,5600.0,11.217391,3.582609,0.002643,0.0148,2.642857
50,WR,Jamison Crowder,5900,NYJ,22.08,15.8,5900.0,12.243077,3.556923,0.002678,0.0158,2.677966
3,WR,Davante Adams,7900,GB,21.10,21.6,7900.0,18.078261,3.521739,0.002734,0.0216,2.734177
69,WR,Brandin Cooks,5200,HOU,13.12,14.1,5200.0,10.608732,3.491268,0.002712,0.0141,2.711538
14,WR,Stefon Diggs,7000,BUF,20.75,18.6,7000.0,15.404651,3.195349,0.002657,0.0186,2.657143
12,WR,Julio Jones,7100,ATL,19.00,18.0,7100.0,15.068571,2.931429,0.002535,0.0180,2.535211
39,WR,Mike Evans,6300,TB,15.52,15.7,6300.0,12.881270,2.818730,0.002492,0.0157,2.492063
134,WR,Diontae Johnson,4200,PIT,8.90,12.2,4200.0,9.622131,2.577869,0.002905,0.0122,2.904762
40,WR,AJ Brown,6300,TEN,17.63,15.3,6300.0,12.881270,2.418730,0.002429,0.0153,2.428571
21,WR,Kenny Golladay,6700,DET,17.13,17.8,6700.0,15.594340,2.205660,0.002657,0.0178,2.656716
66,WR,Tee Higgins,5300,CIN,12.07,14.4,5300.0,12.270411,2.129589,0.002717,0.0144,2.716981
45,WR,Odell Beckham Jr,6100,CLE,14.47,15.3,6100.0,13.235088,2.064912,0.002508,0.0153,2.508197
103,WR,Jarvis Landry,4600,CLE,10.23,12.0,4600.0,9.935849,2.064151,0.002609,0.0120,2.608696
88,WR,Christian Kirk,4900,ARI,11.06,12.8,4900.0,10.839583,1.960417,0.002612,0.0128,2.612245
106,WR,Tim Patrick,4600,DEN,13.80,11.7,4600.0,9.935849,1.764151,0.002543,0.0117,2.543478
115,WR,Laviska Shenault Jr,4500,JAX,10.90,11.8,4500.0,10.109134,1.690866,0.002622,0.0118,2.622222
48,WR,Robby Anderson,6000,CAR,18.82,16.7,6000.0,15.043582,1.656418,0.002783,0.0167,2.783333
105,WR,Sammy Watkins,4600,KC,10.90,11.5,4600.0,9.935849,1.564151,0.002500,0.0115,2.500000
60,WR,DJ Chark Jr,5500,JAX,13.90,14.2,5500.0,12.858824,1.341176,0.002582,0.0142,2.581818
98,WR,Mike Williams,4700,LAC,11.98,12.0,4700.0,10.780583,1.219417,0.002553,0.0120,2.553191
80,WR,Deebo Samuel,5000,SF,9.90,13.7,5000.0,12.526437,1.173563,0.002740,0.0137,2.740000
19,WR,Will Fuller V,6800,HOU,17.75,16.6,6800.0,15.559149,1.040851,0.002441,0.0166,2.441176
6,WR,Michael Thomas,7600,NO,4.70,16.9,7600.0,15.870909,1.029091,0.002224,0.0169,2.223684
32,WR,Tyreek Hill,6400,KC,16.47,17.1,6400.0,16.179245,0.920755,0.002672,0.0171,2.671875
55,WR,Chase Claypool,5700,PIT,18.32,14.0,5700.0,13.357143,0.642857,0.002456,0.0140,2.456140
9,WR,Calvin Ridley,7300,ATL,22.17,18.3,7300.0,17.802778,0.497222,0.002507,0.0183,2.506849
81,WR,Julian Edelman,5000,NE,11.38,12.9,5000.0,12.526437,0.373563,0.002580,0.0129,2.580000
24,WR,Tyler Lockett,6600,SEA,18.24,17.4,6600.0,17.131364,0.268636,0.002636,0.0174,2.636364
33,WR,Chris Godwin,6400,TB,13.70,16.4,6400.0,16.179245,0.220755,0.002562,0.0164,2.562500
47,TE,Darren Waller,6100,LV,15.50,15.2,6100.0,11.654545,3.545455,0.002492,0.0152,2.491803
116,TE,Hunter Henry,4500,LAC,10.96,13.0,4500.0,10.184000,2.816000,0.002889,0.0130,2.888889
23,RB,Mike Davis,6600,CAR,17.18,19.3,6600.0,12.928571,6.371429,0.002924,0.0193,2.924242
67,RB,David Johnson,5300,HOU,12.82,15.4,5300.0,9.829412,5.570588,0.002906,0.0154,2.905660
10,RB,Aaron Jones,7200,GB,23.60,20.9,7200.0,16.247826,4.652174,0.002903,0.0209,2.902778
90,RB,Kenyan Drake,4800,ARI,13.83,13.5,4800.0,9.698684,3.801316,0.002812,0.0135,2.812500
31,RB,Chris Carson,6400,SEA,19.98,17.3,6400.0,14.527586,2.772414,0.002703,0.0173,2.703125
46,RB,Clyde Edwards-Helaire,6100,KC,16.87,15.2,6100.0,12.810714,2.389286,0.002492,0.0152,2.491803
83,RB,Antonio Gibson,5000,WAS,12.50,14.5,5000.0,12.412368,2.087632,0.002900,0.0145,2.900000
41,RB,James Robinson,6200,JAX,17.65,15.7,6200.0,14.637037,1.062963,0.002532,0.0157,2.532258
36,RB,Joe Mixon,6300,CIN,17.27,17.7,6300.0,16.686667,1.013333,0.002810,0.0177,2.809524
2,RB,Alvin Kamara,7900,NO,30.12,23.6,7900.0,22.792308,0.807692,0.002987,0.0236,2.987342
22,RB,James Conner,6700,PIT,18.04,16.9,6700.0,16.478261,0.421739,0.002522,0.0169,2.522388
59,QB,Joe Burrow,5500,CIN,19.23,17.6,5500.0,16.677931,0.922069,0.003200,0.0176,3.200000

### Tuesday

In [27]:
RB = master_df[master_df['Name'].isin(['Falcons ','Ryan Fitzpatrick',
                'Joe Mixon', 'Kareem Hunt', 'Kenny Golladay', 
                'Terry McLaurin', "Tyler Boyd", 'Eric Ebron', "Mike Davis"])]
WR = master_df[master_df['Name'].isin(['Jets ','Ryan Fitzpatrick',
                'Antonio Gibson', 'Mike Davis', 'Kenny Golladay', 
                'Terry McLaurin', "Tyler Boyd", 'Eric Ebron', "Adam Thielen"])]
TE = master_df[master_df['Name'].isin(['Jets ','Ryan Fitzpatrick',
                'Joe Mixon', 'Mike Davis', 'Kenny Golladay', 
                'Terry McLaurin', "Adam Thielen", 'Eric Ebron', "Jonnu Smith"])]

####  RB=140.6, WR=140.9, TE=139.4

### Thursday

In [28]:
RB = master_df[master_df['Name'].isin(['Jets ','Kyler Murray',
                'Aaron Jones', 'Alvin Kamara', 'Diontae Johnson', 
                'Keenan Allen', "Terry McLaurin", 'Hunter Henry', "Antonio Gibson"])]
WR = master_df[master_df['Name'].isin(['Cardinals ','Kyler Murray',
                'Alvin Kamara', 'Mike Davis', 'Diontae Johnson', 
                'Terry McLaurin', "Tyler Boyd", 'Hunter Henry', "Keenan Allen"])]
TE = master_df[master_df['Name'].isin(['Jets ','Kyler Murray',
                'Alvin Kamara', 'Kareem Hunt', 'Diontae Johnson', 
                'Terry McLaurin', "Tyler Boyd", 'Hunter Henry', "Travis Kelce"])]

#### RB=147.9, WR=148, TE=147.3

### Sunday

In [11]:
RB = master_df[master_df['Name'].isin(['Jets ','Ryan Fitzpatrick',
                'Joe Mixon', 'Antonio Gibson', 'Kenny Golladay', 
                'Terry McLaurin', "Tyler Boyd", 'Jonnu Smith', "Mike Davis"])]
WR = master_df[master_df['Name'].isin(['Vikings ','Ryan Fitzpatrick',
                'Derrick Henry', 'Mike Davis', 'Kenny Golladay', 
                'Terry McLaurin', "Tyler Boyd", 'Irv Smith Jr', "Adam Thielen"])]
TE = master_df[master_df['Name'].isin(['Jets ','Ryan Fitzpatrick',
                'Joe Mixon', 'Mike Davis', 'Kenny Golladay', 
                'Terry McLaurin', "Adam Thielen", 'Eric Ebron', "Jonnu Smith"])]

#### RB=140.6, WR=140.9, TE=139.4

In [29]:
print(RB['Projected Points'].sum(),RB['Salary'].sum())

147.89999999999998 49900

In [30]:
print(WR['Projected Points'].sum(),WR['Salary'].sum())

148.00000000000003 50000

In [31]:
print(TE['Projected Points'].sum(),TE['Salary'].sum())

147.3 50000