In [14]:
import datetime as dt
from bs4 import BeautifulSoup
import requests
import re
import time
import random
import pandas as pd
import os
import numpy as np

In [16]:
master_df = pd.read_csv('week_5.csv')
hist = pd.read_csv('pos_sal_avg.csv')
master_df = master_df.merge(hist, left_on=['Pos','Salary'], right_on=['Pos','DK salary'])

In [17]:
master_df.head(15)

,Pos,Name,Salary,TeamAbbrev,AvgPointsPerGame,Projected Points,DK salary,DK points
0,WR,DeAndre Hopkins,7900,ARI,22.68,20.2,7900.0,18.078261
1,QB,Lamar Jackson,7900,BAL,21.56,24.1,7900.0,33.780000
2,RB,Ezekiel Elliott,7800,DAL,22.55,21.6,7800.0,20.421053
3,QB,Patrick Mahomes,7700,KC,28.54,25.3,7700.0,30.280000
4,WR,Calvin Ridley,7500,ATL,22.38,18.7,7500.0,18.757576
5,QB,Josh Allen,7500,BUF,33.08,22.1,7500.0,22.691111
6,QB,Dak Prescott,7400,DAL,34.30,23.5,7400.0,22.791429
7,WR,Amari Cooper,7400,DAL,22.78,17.8,7400.0,13.325000
8,QB,Kyler Murray,7200,ARI,27.32,22.0,7200.0,18.897500
9,RB,Derrick Henry,7000,TEN,19.17,14.4,7000.0,14.676923
10,WR,Stefon Diggs,7000,BUF,21.08,16.9,7000.0,15.404651
11,RB,James Conner,6900,PIT,18.23,15.0,6900.0,15.310526
12,QB,Deshaun Watson,6900,HOU,19.87,21.7,6900.0,19.740800
13,WR,Tyreek Hill,6900,KC,18.75,17.8,6900.0,16.529767
14,WR,Julio Jones,6800,ATL,13.10,14.5,6800.0,15.559149

In [18]:
master_df['val_above_sal'] = master_df['Projected Points'] - master_df['DK points']

In [19]:
master_df['Points Per Dollar'] = master_df['Projected Points'] / \
    master_df['Salary']
master_df['Points Per 1K'] = master_df['Projected Points'] / 1000
master_df['Value'] = master_df['Projected Points'] / \
    (master_df['Salary']/1000)

In [20]:
master_df

,Pos,Name,Salary,TeamAbbrev,AvgPointsPerGame,Projected Points,DK salary,DK points,val_above_sal,Points Per Dollar,Points Per 1K,Value
0,WR,DeAndre Hopkins,7900,ARI,22.68,20.2,7900.0,18.078261,2.121739,0.002557,0.0202,2.556962
1,QB,Lamar Jackson,7900,BAL,21.56,24.1,7900.0,33.780000,-9.680000,0.003051,0.0241,3.050633
2,RB,Ezekiel Elliott,7800,DAL,22.55,21.6,7800.0,20.421053,1.178947,0.002769,0.0216,2.769231
3,QB,Patrick Mahomes,7700,KC,28.54,25.3,7700.0,30.280000,-4.980000,0.003286,0.0253,3.285714
4,WR,Calvin Ridley,7500,ATL,22.38,18.7,7500.0,18.757576,-0.057576,0.002493,0.0187,2.493333
...,...,...,...,...,...,...,...,...,...,...,...,...
390,DST,Dolphins,2400,MIA,5.25,6.0,2400.0,6.831683,-0.831683,0.002500,0.0060,2.500000
391,DST,Bengals,2300,CIN,3.25,5.3,2300.0,5.700935,-0.400935,0.002304,0.0053,2.304348
392,DST,Giants,2200,NYG,4.00,6.0,2200.0,5.894737,0.105263,0.002727,0.0060,2.727273
393,DST,Titans,2100,TEN,5.00,6.3,2100.0,4.621951,1.678049,0.003000,0.0063,3.000000
394,DST,Raiders,2000,LV,1.25,4.4,2000.0,4.740741,-0.340741,0.002200,0.0044,2.200000

In [21]:
good_choices = master_df[(master_df['val_above_sal']>0) & (master_df['Projected Points']>11)]

In [22]:
good_choices.sort_values(by=['Pos','val_above_sal'], ascending=False)

,Pos,Name,Salary,TeamAbbrev,AvgPointsPerGame,Projected Points,DK salary,DK points,val_above_sal,Points Per Dollar,Points Per 1K,Value
7,WR,Amari Cooper,7400,DAL,22.78,17.8,7400.0,13.325000,4.475000,0.002405,0.0178,2.405405
44,WR,Robby Anderson,5900,CAR,19.68,15.4,5900.0,12.243077,3.156923,0.002610,0.0154,2.610169
33,WR,Tyler Boyd,6200,CIN,17.35,14.3,6200.0,11.572075,2.727925,0.002306,0.0143,2.306452
100,WR,Darius Slayton,4800,NYG,13.15,12.7,4800.0,9.988889,2.711111,0.002646,0.0127,2.645833
37,WR,Terry McLaurin,6100,WAS,19.25,15.5,6100.0,13.235088,2.264912,0.002541,0.0155,2.540984
45,WR,DeVante Parker,5900,MIA,15.22,14.5,5900.0,12.243077,2.256923,0.002458,0.0145,2.457627
0,WR,DeAndre Hopkins,7900,ARI,22.68,20.2,7900.0,18.078261,2.121739,0.002557,0.0202,2.556962
122,WR,Sammy Watkins,4500,KC,11.02,12.0,4500.0,10.109134,1.890866,0.002667,0.0120,2.666667
92,WR,TY Hilton,4900,IND,7.30,12.6,4900.0,10.839583,1.760417,0.002571,0.0126,2.571429
116,WR,Golden Tate,4600,NYG,8.10,11.5,4600.0,9.935849,1.564151,0.002500,0.0115,2.500000
99,WR,AJ Green,4800,CIN,6.48,11.5,4800.0,9.988889,1.511111,0.002396,0.0115,2.395833
10,WR,Stefon Diggs,7000,BUF,21.08,16.9,7000.0,15.404651,1.495349,0.002414,0.0169,2.414286
64,WR,Michael Gallup,5400,DAL,12.38,12.3,5400.0,10.844776,1.455224,0.002278,0.0123,2.277778
62,WR,Jerry Jeudy,5400,DEN,11.10,12.2,5400.0,10.844776,1.355224,0.002259,0.0122,2.259259
48,WR,Jamison Crowder,5800,NYJ,23.95,13.3,5800.0,12.025373,1.274627,0.002293,0.0133,2.293103
13,WR,Tyreek Hill,6900,KC,18.75,17.8,6900.0,16.529767,1.270233,0.002580,0.0178,2.579710
96,WR,Curtis Samuel,4800,CAR,8.05,11.2,4800.0,9.988889,1.211111,0.002333,0.0112,2.333333
98,WR,John Brown,4800,BUF,11.35,11.2,4800.0,9.988889,1.211111,0.002333,0.0112,2.333333
58,WR,Diontae Johnson,5600,PIT,11.60,12.1,5600.0,11.217391,0.882609,0.002161,0.0121,2.160714
32,WR,Marquise Brown,6300,BAL,10.80,13.6,6300.0,12.881270,0.718730,0.002159,0.0136,2.158730
39,WR,DJ Moore,6000,CAR,12.45,15.7,6000.0,15.043582,0.656418,0.002617,0.0157,2.616667
63,WR,AJ Brown,5400,TEN,8.90,11.5,5400.0,10.844776,0.655224,0.002130,0.0115,2.129630
51,WR,Julian Edelman,5700,NE,13.15,14.0,5700.0,13.357143,0.642857,0.002456,0.0140,2.456140
108,WR,Cole Beasley,4700,BUF,13.25,11.2,4700.0,10.780583,0.419417,0.002383,0.0112,2.382979
22,WR,Cooper Kupp,6500,LAR,17.10,16.3,6500.0,16.067586,0.232414,0.002508,0.0163,2.507692
29,TE,Travis Kelce,6400,KC,16.42,17.7,6400.0,12.371429,5.328571,0.002766,0.0177,2.765625
119,TE,Evan Engram,4600,NYG,7.52,11.3,4600.0,9.575000,1.725000,0.002457,0.0113,2.456522
53,TE,Zach Ertz,5700,PHI,10.22,12.5,5700.0,11.825000,0.675000,0.002193,0.0125,2.192982
20,TE,George Kittle,6600,SF,26.20,15.9,6600.0,15.850000,0.050000,0.002409,0.0159,2.409091
73,RB,David Johnson,5200,HOU,12.68,15.4,5200.0,11.774909,3.625091,0.002962,0.0154,2.961538
26,RB,Mike Davis,6400,CAR,15.18,17.3,6400.0,14.527586,2.772414,0.002703,0.0173,2.703125
101,RB,Myles Gaskin,4800,MIA,12.12,12.3,4800.0,9.698684,2.601316,0.002563,0.0123,2.562500
2,RB,Ezekiel Elliott,7800,DAL,22.55,21.6,7800.0,20.421053,1.178947,0.002769,0.0216,2.769231
35,RB,Jonathan Taylor,6200,IND,14.75,15.6,6200.0,14.637037,0.962963,0.002516,0.0156,2.516129
25,RB,Kareem Hunt,6500,CLE,17.42,16.1,6500.0,15.220690,0.879310,0.002477,0.0161,2.476923
24,RB,Miles Sanders,6500,PHI,15.13,15.9,6500.0,15.220690,0.679310,0.002446,0.0159,2.446154
52,RB,Kenyan Drake,5700,ARI,9.60,14.3,5700.0,13.707500,0.592500,0.002509,0.0143,2.508772
31,RB,Josh Jacobs,6300,LV,17.50,17.1,6300.0,16.686667,0.413333,0.002714,0.0171,2.714286
46,RB,Devin Singletary,5900,BUF,13.65,14.2,5900.0,14.145000,0.055000,0.002407,0.0142,2.406780
8,QB,Kyler Murray,7200,ARI,27.32,22.0,7200.0,18.897500,3.102500,0.003056,0.0220,3.055556
12,QB,Deshaun Watson,6900,HOU,19.87,21.7,6900.0,19.740800,1.959200,0.003145,0.0217,3.144928
6,QB,Dak Prescott,7400,DAL,34.30,23.5,7400.0,22.791429,0.708571,0.003176,0.0235,3.175676

In [33]:
Tuesday = master_df[master_df['Name'].isin(['Titans ','Patrick Mahomes',
                'David Johnson', 'Ezekiel Elliott', 'Tyreek Hill', 
                'Sammy Watkins', "Damiere Byrd", 'Travis Kelce', "Mike Davis"])]
Wednesday = master_df[master_df['Name'].isin(['Titans ','Patrick Mahomes',
                'David Johnson', 'Ezekiel Elliott', 'Robby Anderson', 
                'DJ Moore', "Damiere Byrd", 'Travis Kelce', "Darren Waller"])]
Thursday = master_df[master_df['Name'].isin(['Titans ','Patrick Mahomes',
                'David Johnson', 'Ezekiel Elliott', 'Tyreek Hill', 
                'Sammy Watkins', "Damiere Byrd", 'Travis Kelce', "Mike Davis"])]
Friday = master_df[master_df['Name'].isin(['Titans ','Patrick Mahomes',
                'David Johnson', 'Ezekiel Elliott', 'Tyreek Hill', 
                'Sammy Watkins', "Damiere Byrd", 'Travis Kelce', "Mike Davis"])]

In [34]:
print(Tuesday['Projected Points'].sum(),Tuesday['Salary'].sum())

141.4 50000

In [35]:
print(Wednesday['Projected Points'].sum(),Wednesday['Salary'].sum())

141.10000000000002 50000

In [36]:
print(Thursday['Projected Points'].sum(),Thursday['Salary'].sum())

141.4 50000

In [37]:
print(Friday['Projected Points'].sum(),Friday['Salary'].sum())

141.4 50000