In [39]:
import datetime as dt
from bs4 import BeautifulSoup
import requests
import re
import time
import random
import pandas as pd
import os
import numpy as np

In [40]:
master_df = pd.read_csv('week_6.csv')
hist = pd.read_csv('pos_sal_avg.csv')
master_df = master_df.merge(hist, left_on=['Pos','Salary'], right_on=['Pos','DK salary'])

In [41]:
master_df.head(15)

,Pos,Name,Salary,TeamAbbrev,AvgPointsPerGame,Projected Points,DK salary,DK points
0,RB,Dalvin Cook,8000,MIN,24.06,1.7,8000.0,19.637500
1,WR,Davante Adams,8000,GB,25.60,20.4,8000.0,19.331429
2,WR,Calvin Ridley,7800,ATL,22.82,18.7,7800.0,20.327742
3,QB,Lamar Jackson,7700,BAL,20.15,21.9,7700.0,30.280000
4,RB,Aaron Jones,7600,GB,26.22,18.5,7600.0,17.600000
5,QB,Aaron Rodgers,7500,GB,27.52,19.4,7500.0,22.691111
6,WR,Adam Thielen,7300,MIN,22.18,19.8,7300.0,17.802778
7,RB,Derrick Henry,7300,TEN,19.20,19.2,7300.0,18.431579
8,RB,Alexander Mattison,7200,MIN,8.92,17.8,7200.0,16.247826
9,RB,James Conner,7100,PIT,17.50,17.3,7100.0,16.438462
10,RB,Mike Davis,7000,CAR,18.12,19.7,7000.0,14.676923
11,QB,Deshaun Watson,7000,HOU,21.87,19.7,7000.0,20.670000
12,RB,Kareem Hunt,6900,CLE,17.60,18.5,6900.0,15.310526
13,WR,Mike Evans,6900,TB,18.22,17.1,6900.0,16.529767
14,RB,James Robinson,6800,JAX,18.12,17.5,6800.0,20.841667

In [42]:
master_df['val_above_sal'] = master_df['Projected Points'] - master_df['DK points']

In [43]:
master_df['Points Per Dollar'] = master_df['Projected Points'] / \
    master_df['Salary']
master_df['Points Per 1K'] = master_df['Projected Points'] / 1000
master_df['Value'] = master_df['Projected Points'] / \
    (master_df['Salary']/1000)

In [44]:
master_df

,Pos,Name,Salary,TeamAbbrev,AvgPointsPerGame,Projected Points,DK salary,DK points,val_above_sal,Points Per Dollar,Points Per 1K,Value
0,RB,Dalvin Cook,8000,MIN,24.06,1.7,8000.0,19.637500,-17.937500,0.000212,0.0017,0.212500
1,WR,Davante Adams,8000,GB,25.60,20.4,8000.0,19.331429,1.068571,0.002550,0.0204,2.550000
2,WR,Calvin Ridley,7800,ATL,22.82,18.7,7800.0,20.327742,-1.627742,0.002397,0.0187,2.397436
3,QB,Lamar Jackson,7700,BAL,20.15,21.9,7700.0,30.280000,-8.380000,0.002844,0.0219,2.844156
4,RB,Aaron Jones,7600,GB,26.22,18.5,7600.0,17.600000,0.900000,0.002434,0.0185,2.434211
...,...,...,...,...,...,...,...,...,...,...,...,...
350,TE,Andrew Beck,2500,DEN,0.00,1.3,2500.0,1.870506,-0.570506,0.000520,0.0013,0.520000
351,DST,Jets,2400,NYJ,4.20,6.4,2400.0,6.831683,-0.431683,0.002667,0.0064,2.666667
352,DST,Vikings,2300,MIN,2.80,6.2,2300.0,5.700935,0.499065,0.002696,0.0062,2.695652
353,DST,Falcons,2200,ATL,1.40,5.7,2200.0,5.894737,-0.194737,0.002591,0.0057,2.590909
354,DST,Bengals,2100,CIN,3.20,5.2,2100.0,4.621951,0.578049,0.002476,0.0052,2.476190

In [45]:
good_choices = master_df[(master_df['val_above_sal']>0) & (master_df['Projected Points']>11)]

In [46]:
good_choices.sort_values(by=['Pos','val_above_sal'], ascending=False)

,Pos,Name,Salary,TeamAbbrev,AvgPointsPerGame,Projected Points,DK salary,DK points,val_above_sal,Points Per Dollar,Points Per 1K,Value
33,WR,Kenny Golladay,6200,DET,16.95,17.2,6200.0,11.572075,5.627925,0.002774,0.0172,2.774194
42,WR,Tyler Boyd,5800,CIN,15.52,16.2,5800.0,12.025373,4.174627,0.002793,0.0162,2.793103
60,WR,Darius Slayton,5400,NYG,15.30,14.9,5400.0,10.844776,4.055224,0.002759,0.0149,2.759259
48,WR,AJ Brown,5600,TEN,15.05,15.0,5600.0,11.217391,3.782609,0.002679,0.0150,2.678571
30,WR,Robby Anderson,6300,CAR,20.24,16.5,6300.0,12.881270,3.618730,0.002619,0.0165,2.619048
34,WR,Jamison Crowder,6100,NYJ,25.50,16.3,6100.0,13.235088,3.064912,0.002672,0.0163,2.672131
49,WR,Julian Edelman,5600,NE,13.15,14.1,5600.0,11.217391,2.882609,0.002518,0.0141,2.517857
45,WR,Terry McLaurin,5700,WAS,16.52,16.2,5700.0,13.357143,2.842857,0.002842,0.0162,2.842105
28,WR,DeVante Parker,6300,MIA,14.78,15.2,6300.0,12.881270,2.318730,0.002413,0.0152,2.412698
6,WR,Adam Thielen,7300,MIN,22.18,19.8,7300.0,17.802778,1.997222,0.002712,0.0198,2.712329
64,WR,Laviska Shenault Jr,5200,JAX,12.26,12.4,5200.0,10.608732,1.791268,0.002385,0.0124,2.384615
41,WR,DJ Moore,5900,CAR,13.82,13.8,5900.0,12.243077,1.556923,0.002339,0.0138,2.338983
83,WR,Jarvis Landry,4900,CLE,10.88,12.3,4900.0,10.839583,1.460417,0.002510,0.0123,2.510204
95,WR,Tee Higgins,4700,CIN,10.14,12.0,4700.0,10.780583,1.219417,0.002553,0.0120,2.553191
65,WR,Chase Claypool,5200,PIT,18.38,11.8,5200.0,10.608732,1.191268,0.002269,0.0118,2.269231
1,WR,Davante Adams,8000,GB,25.60,20.4,8000.0,19.331429,1.068571,0.002550,0.0204,2.550000
29,WR,DJ Chark Jr,6300,JAX,14.50,13.8,6300.0,12.881270,0.918730,0.002190,0.0138,2.190476
77,WR,TY Hilton,5000,IND,8.42,13.4,5000.0,12.526437,0.873563,0.002680,0.0134,2.680000
13,WR,Mike Evans,6900,TB,18.22,17.1,6900.0,16.529767,0.570233,0.002478,0.0171,2.478261
78,WR,Brandin Cooks,5000,HOU,11.38,13.0,5000.0,12.526437,0.473563,0.002600,0.0130,2.600000
68,TE,Jonnu Smith,5200,TEN,17.52,13.0,5200.0,12.660000,0.340000,0.002500,0.0130,2.500000
10,RB,Mike Davis,7000,CAR,18.12,19.7,7000.0,14.676923,5.023077,0.002814,0.0197,2.814286
18,RB,Miles Sanders,6600,PHI,17.32,16.9,6600.0,12.928571,3.971429,0.002561,0.0169,2.560606
51,RB,Antonio Gibson,5500,WAS,13.10,15.2,5500.0,11.516071,3.683929,0.002764,0.0152,2.763636
12,RB,Kareem Hunt,6900,CLE,17.60,18.5,6900.0,15.310526,3.189474,0.002681,0.0185,2.681159
32,RB,Joe Mixon,6200,CIN,17.74,16.9,6200.0,14.637037,2.262963,0.002726,0.0169,2.725806
25,RB,Jonathan Taylor,6400,IND,14.88,16.4,6400.0,14.527586,1.872414,0.002562,0.0164,2.562500
8,RB,Alexander Mattison,7200,MIN,8.92,17.8,7200.0,16.247826,1.552174,0.002472,0.0178,2.472222
4,RB,Aaron Jones,7600,GB,26.22,18.5,7600.0,17.600000,0.900000,0.002434,0.0185,2.434211
9,RB,James Conner,7100,PIT,17.50,17.3,7100.0,16.438462,0.861538,0.002437,0.0173,2.436620
7,RB,Derrick Henry,7300,TEN,19.20,19.2,7300.0,18.431579,0.768421,0.002630,0.0192,2.630137
84,RB,Devonta Freeman,4900,NYG,9.50,13.3,4900.0,12.549254,0.750746,0.002714,0.0133,2.714286
58,RB,Myles Gaskin,5400,MIA,13.72,14.1,5400.0,13.520000,0.580000,0.002611,0.0141,2.611111
59,RB,David Johnson,5400,HOU,12.60,14.1,5400.0,13.520000,0.580000,0.002611,0.0141,2.611111
44,RB,David Montgomery,5800,CHI,13.42,15.7,5800.0,15.604444,0.095556,0.002707,0.0157,2.706897

### Tuesday

In [80]:
RB = master_df[master_df['Name'].isin(['Falcons ','Ryan Fitzpatrick',
                'Joe Mixon', 'Kareem Hunt', 'Kenny Golladay', 
                'Terry McLaurin', "Tyler Boyd", 'Eric Ebron', "Mike Davis"])]
WR = master_df[master_df['Name'].isin(['Jets ','Ryan Fitzpatrick',
                'Antonio Gibson', 'Mike Davis', 'Kenny Golladay', 
                'Terry McLaurin', "Tyler Boyd", 'Eric Ebron', "Adam Thielen"])]
TE = master_df[master_df['Name'].isin(['Jets ','Ryan Fitzpatrick',
                'Joe Mixon', 'Mike Davis', 'Kenny Golladay', 
                'Terry McLaurin', "Adam Thielen", 'Eric Ebron', "Jonnu Smith"])]

####  RB=140.6, WR=140.9, TE=139.4

### Thursday

In [70]:
RB = master_df[master_df['Name'].isin(['Falcons ','Ryan Fitzpatrick',
                'Joe Mixon', 'Kareem Hunt', 'Kenny Golladay', 
                'Terry McLaurin', "Tyler Boyd", 'Eric Ebron', "Mike Davis"])]
WR = master_df[master_df['Name'].isin(['Jets ','Ryan Fitzpatrick',
                'Antonio Gibson', 'Mike Davis', 'Kenny Golladay', 
                'Terry McLaurin', "Tyler Boyd", 'Eric Ebron', "Adam Thielen"])]
TE = master_df[master_df['Name'].isin(['Jets ','Ryan Fitzpatrick',
                'Joe Mixon', 'Mike Davis', 'Kenny Golladay', 
                'Terry McLaurin', "Adam Thielen", 'Eric Ebron', "Jonnu Smith"])]

#### RB=140.6, WR=140.9, TE=139.4

### Sunday

In [74]:
RB = master_df[master_df['Name'].isin(['Jets ','Ryan Fitzpatrick',
                'Joe Mixon', 'Antonio Gibson', 'Adam Thielen', 
                'Terry McLaurin', "Tyler Boyd", 'Eric Ebron', "Mike Davis"])]
WR = master_df[master_df['Name'].isin(['Jets ','Ryan Fitzpatrick',
                'Antonio Gibson', 'Mike Davis', 'Kenny Golladay', 
                'Terry McLaurin', "Tyler Boyd", 'Eric Ebron', "Adam Thielen"])]
TE = master_df[master_df['Name'].isin(['Jets ','Ryan Fitzpatrick',
                'Joe Mixon', 'Mike Davis', 'Kenny Golladay', 
                'Terry McLaurin', "Adam Thielen", 'Eric Ebron', "Jonnu Smith"])]

#### RB=140.6, WR=140.9, TE=139.4

In [81]:
print(RB['Projected Points'].sum(),RB['Salary'].sum())

140.6 50000

In [82]:
print(WR['Projected Points'].sum(),WR['Salary'].sum())

140.9 49900

In [83]:
print(TE['Projected Points'].sum(),TE['Salary'].sum())

139.4 50000